* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(189, 153, 255);
    

}


@font-face {
    font-family: veshion;
    src: url(../tipografia/Veshion.ttf);
    
    
}

@font-face {
    font-family: brea;
    src: url(../tipografia/BreadleySans-Regular.ttf);
    
    
}

@font-face{
    font-family: roboto;
    src: url(../tipografia/Roboto-Regular.ttf);
}





.miperfil{
    background-color: #FFEF26;
    color: #8E4BEF;
    font-family: veshion;
    text-align: center;
    padding-top: 12px;
    height: 8rem;
}



.mi{
    font-size: 3rem;
    font-family:veshion;
    color: #FFEF26;
    text-align: center;
    padding-bottom: 1rem;
    
}

.sobremi{
    
    color: #ffffff;
    padding: 3rem;
    padding-right: 2rem ;
    
}

.textomi{
    font-family: brea;
    font-size: 29px;
    text-align: start;
}




.mar{
    font-family: roboto;
    font-size: 24px;
    color: #8E4BEF;
}

.estexto{
    font-family: brea;
    font-size: 20px;
}


.hobi{
    font-size: 3rem;
    font-family: veshion;
    color: #FFEF26;
    text-align: center;
    padding-bottom: 1rem;
    padding-left: 4rem;
}





